//Theme colors
$mat-beeware-300: #add166;
$mat-beeware-400: #9cc745;
$mat-beeware-500: #8abd24;
$mat-beeware-A700: #a6ff48;
$beeware-green: #6fbe00;
$beeware-grey: #999999;
$beeware-darker-grey: #333333;
$beeware-grey-icon: #757575;
$input-error-message-color: #dd2c00;
$beeware-blue: #0280ff;
$toolbar-height: 48px;
$footer-height: 35px;
$beeware-light-grey: #eeeeee;
$beeware-f7-grey: #f7f7f7;
$beeware-light-border: rgba(0, 0, 0, 0.12);