<div class="GenericPage">
    <div class="GenericPage-Wrapper">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex="60%">
                <h1 class="GenericPage GenericPage-Title" >We are sorry, the page you requested cannot be found.</h1>
                <p class="GenericPage GenericPage-Description" >The URL may be misspelled or the page you're looking for is no longer available.</p>
                <a id="GenericPageComponent-link" [routerLink]="['/']" class="GenericPage GenericPage-link">
                    <span >Continue with</span>
                    <span >Sodalis</span>
                    <span >Web Portal</span>
                </a>
            </div>
        </div>
    </div>
</div>